{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Holl-Company | CoderSafe</title>
  <!-- plugins:css -->
  <link href="{% static 'vendors/feather/feather.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendors/css/vendor.bundle.base.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'js/select.dataTables.min.css' %}" rel="stylesheet" type="text/css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link href="{% static 'css/vertical-layout-light/style.css' %}" rel="stylesheet" type="text/css">
  <!-- endinject -->
  <link href="{% static 'images/favicon.png' %}" rel="stylesheet" type="text/css">
  <style>
    .AmountContein{
        display: none;
    }
  </style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'images/logo-mini.jpg' %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <form class="input-group" action="/" method="get">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input  name="q" type="text" class="form-control" id="navbar-search-input" placeholder="Быстрый поиск" aria-label="search" aria-describedby="search">
              <button type="submit"  >Поиск</button>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            {% if user.is_authenticated %}         
            <a class="nav-link"  href="/profile" aria-expanded="false" aria-controls="form-elements">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"> <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/> </svg>
              <span class="menu-title">Личный кабинет</span>
            </a>
            {% else %}
            <a class="nav-link"  href="/login" aria-expanded="false" aria-controls="form-elements">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"> <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/> </svg>
              <span class="menu-title">Войти</span>
            </a>
            {% endif %}
            <a class="nav-link" href="index">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Каталог</span>
            </a>

            <a class="nav-link"  href="archive" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Архив</span>
            </a>
           
          </li>
          <li class="nav-item nav-profile dropdown">
            
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">Задачи</a>
          </li>
          
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Добавить задачи">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">+</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
               
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                       
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="tableGroup">
                    <div class="nameProducts">Наименование</div>
                    <div class="numberProduct">№</div>
                    <div class="priceProducts">Цена без НДС</div>
                    <div class="countProducts">Количество</div>
                    <div class="salePriceProducts">Стоимость без НДС</div>
                    <div class="countryProducts">Страна покупателя</div>
                    <div class="timeOutsProducts">Срок действия заявки</div>
                    <div class="TimerProducts">Время экспозиции</div>
                  </div>
                  {% for bid in object_list  %}
                  <div class="mainBlockWhile">
                    <div class="smallDescriptions">
                        <div class="onePeace">
                            <div class="namesOrder">{{bid.procurement_name}}</div>
                            <div class="numbers"><div class="textInteText">{{bid.purchase_order}}</div>
                            <a href="" target="_blank">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
                              </svg>
                            </a></div>

                            <div class="dateaGetStatus"> {{ bid.price }} {{ bid.currency }}</div>
                            <div class="datesGetStatus"> {{ bid.number_of_goods }}</div>
                            <div class="datessGetStatus"> {{ bid.cost }} {{ bid.currency }}</div>
                            <div class="datessGetStatus"> {{ bid.buyer_country }}</div>
                            <div class="datesssGetStatus"> {{ bid.application_validity_period }}</div>
                            <div class="datessssGetStatus"> {{bid.exposure_time}}</div>
                          </div>
                          <div class="con">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                              </svg>
                          </div>
                    </div>
                    <div class="AmountContein">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="containerPluf">
                              <div class="onePeace">
                              
                              </div>
                            </div>
                            <div class="descriptions">
                              {{ bid.product_information }}
                            </div>
                            <div class="option">
                              {% if user.is_authenticated %} 
                              <button class="addToMyShorts">Закрепить заявку</button>
                              {% else %}
                              <button class="addToMyShorts">Войдите, чтобы закрепить </button>
                              {% endif %}
                              <div class="comment">
                                <div class="image">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                                  </svg>
                                </div>
                                <textarea name="" id="" cols="30" rows="10" placeholder="Введите комментарий"></textarea>
                                <div class="blockSave">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                    <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                                  </svg>
                                  <div class="saveTexts">сохраняем...</div>
                                </div>
    
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="getDate"><div class="application_date">Дата подачи заявки: </div><div class="application_date_value"> {{ bid.application_date }}</div></div>
                            <div class="getDate"><div class="application_validity_period">Срок действия заявки: </div><div class="application_validity_period_value"> {{ bid.application_validity_period }}</div></div>
                            <div class="getDate"><div class="brand">Бренд: </div><div class="brand_value"> {{bid.brand}}</div></div>
                            <div class="getDate"><div class="producing_country">Страна производитель: </div><div class="producing_country_value"> {{bid.producing_country}}</div></div>
                            <div class="getDate"><div class="terms_of_payment">Условия оплаты: </div><div class="terms_of_payment_value"> {{bid.terms_of_payment}}</div></div>
                            <div class="getDate"><div class="delivery_conditions">Условия поставки:</div> <div class="delivery_conditions_value"> {{ bid.delivery_conditions }}</div></div>
                            <div class="getDate"><div class="delivery_time">Срок поставки: </div><div class="delivery_time_value"> {{bid.delivery_time}}</div></div>
                            <div class="getDate"><div class="buyer_country">Страна покупателя: </div><div class="buyer_country_value"> {{bid.buyer_country}}</div></div>
                            <div class="getDate"><div class="exposure_time">Время экспозиции: </div> <div class="exposure_time_value"><div class="dateTimes"> {{bid.exposure_time}}</div></div></div>
                            <div class="getDate"><div class="application_is_bidding">Заявка участвует в торгах: </div><div class="application_is_bidding_value"> {{ bid.application_is_bidding }}</div></div>
                            <div class="getDate"><div class="price">Цена (без НДС) </div><div class="price_value"> {{bid.price}}</div></div>
                            <div class="getDate"><div class="number_of_goods">Количество товаров: </div><div class="number_of_goods_value"> {{ bid.number_of_goods }}</div></div>
                            <div class="getDate"><div class="textIntodate">Файл технической документации:</div> <div class="textInteTextWord">
                              <a href="" download="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                                </svg>
                              </a>
                              <a href="" download="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-word" viewBox="0 0 16 16">
                                  <path d="M4.879 4.515a.5.5 0 0 1 .606.364l1.036 4.144.997-3.655a.5.5 0 0 1 .964 0l.997 3.655 1.036-4.144a.5.5 0 0 1 .97.242l-1.5 6a.5.5 0 0 1-.967.01L8 7.402l-1.018 3.73a.5.5 0 0 1-.967-.01l-1.5-6a.5.5 0 0 1 .364-.606z"/>
                                  <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                </svg>
                              </a>
                              <a href="" download="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                                </svg>
                              </a>
                            </div></div>
                            <div class="getDate"><div class="textIntodate">Код ТН ВЭД ЕАЭС </div><div class="textInteText">123456</div></div>
                            <div class="getDate"><div class="textIntodate">ОКРБ007 </div><div class="textInteText">123456</div></div>
                          </div>
                        </div>
                      </div>
                  </div>
                  {%endfor%}
                  {% if page_obj.has_next %}
                      <p class="pagination">
                        <a class="next-page" href="?page={{ page_obj.next_page_number }}">More...</a>
                      </p>
                    {% endif %}
              </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jScroll plug-in CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
<script>
    $(function ($) {
        var $list = $('.mainBlockWhile');
        $list.jscroll({
            loadingHtml: '<div class="text-center">' +
                '<img src="https://i.gifer.com/7plQ.gif" alt="Loading" style="width:100px; allign:center;" />' +
                '</div>',
            padding: 100,
            pagingSelector: '.pagination',
            nextSelector: 'a.next-page:last',
            contentSelector: '.card,.pagination'
        });
    });
</script>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>

  <!-- <script src="js/off-canvas.js"></script> -->

  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
  <script>
    $(document).ready(function(){
      $(document).on('change', 'textarea',function(){
        $(this).parents('.comment').find('.blockSave').slideDown().delay(1000).slideUp();
      });
      $(document).on('click', '.con', function(){
        var slug_child = $(this)
        $.ajax({
            url: `bids/${slug_child.parents('.smallDescriptions').find('.numbers').text()}`,
            method: 'get',
            dataType: 'json',
            success: function(response_json){
                response_json_clean = JSON.parse(response_json)
                slug_child.parents('.mainBlockWhile').find('.application_date_value').text(response_json_clean['application_date'])
                slug_child.parents('.mainBlockWhile').find('.application_validity_period_value').text(response_json_clean['application_validity_period'])
                slug_child.parents('.mainBlockWhile').find('.producing_country_value').text(response_json_clean['producing_country'])
                slug_child.parents('.mainBlockWhile').find('.terms_of_payment_value').text(response_json_clean['terms_of_payment'])
                slug_child.parents('.mainBlockWhile').find('.brand_value').text(response_json_clean['brandname'])
                slug_child.parents('.mainBlockWhile').find('.descriptions').text(response_json_clean['product_information'])
                slug_child.parents('.mainBlockWhile').find('.delivery_conditions_value').text(response_json_clean['delivery_conditions'])
            }
        })
        $(this).parents('.mainBlockWhile').find('.AmountContein').slideToggle();
      });
    });
  </script>
</body>

</html>

